<a href="https://colab.research.google.com/github/sumit150803/Trip_planner-IBM-/blob/main/i_am_learning_pandas_and_i_want_to_practice_quest_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Of course\! Mastering Pandas is a fantastic goal, especially for data science interviews and LeetCode-style challenges. Here is a comprehensive set of practice questions, progressing from basic to advanced, designed to solidify your skills.

To get the most out of this, try to solve each problem yourself before looking up the answer. The goal is to understand the *why* behind each function.

Let's start by creating a few sample DataFrames that we'll use for the questions.

In [1]:
import pandas as pd
import numpy as np

# Sample DataFrame for Sales Data
sales_data = {
    'OrderID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Laptop', 'Monitor', 'Mouse', 'Laptop', 'Keyboard'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics', 'Hardware', 'Hardware'],
    'Price': [1200, 25, 75, 1250, 300, 27, 1150, 80],
    'OrderDate': pd.to_datetime(['2025-01-15', '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-18', '2025-01-18', '2025-01-20', '2025-01-20'])
}
sales_df = pd.DataFrame(sales_data)

# Sample DataFrame for Employee Data
employee_data = {
    'EmployeeID': [1, 2, 3, 4, 5, 6],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank'],
    'Department': ['HR', 'IT', 'Finance', 'IT', 'HR', 'IT'],
    'Salary': [70000, 80000, 90000, 85000, 72000, 120000],
    'JoinDate': pd.to_datetime(['2022-03-10', '2021-07-23', '2023-01-15', '2021-08-01', '2022-04-11', '2020-01-05'])
}
employees_df = pd.DataFrame(employee_data)

# Sample DataFrame with missing values
weather_data = {
    'Date': pd.to_datetime(['2025-10-01', '2025-10-02', '2025-10-03', '2025-10-04', '2025-10-05']),
    'Temperature': [25, 26, np.nan, 24, 27],
    'WindSpeed': [10, np.nan, 15, 12, 14],
    'Event': ['Sunny', 'Cloudy', 'Rain', 'Sunny', np.nan]
}
weather_df = pd.DataFrame(weather_data)

In [3]:
#1
emp_data=pd.DataFrame(employee_data)
print(emp_data)

   EmployeeID     Name Department  Salary   JoinDate
0           1    Alice         HR   70000 2022-03-10
1           2      Bob         IT   80000 2021-07-23
2           3  Charlie    Finance   90000 2023-01-15
3           4    David         IT   85000 2021-08-01
4           5      Eva         HR   72000 2022-04-11
5           6    Frank         IT  120000 2020-01-05

In [5]:
#2
pd.DataFrame(sales_df)
print(sales_df.head(3))

   OrderID   Product     Category  Price  OrderDate
0      101    Laptop  Electronics   1200 2025-01-15
1      102     Mouse  Electronics     25 2025-01-15
2      103  Keyboard  Electronics     75 2025-01-16

In [6]:
#3
sales_df.tail(2)

   OrderID   Product  Category  Price  OrderDate
6      107    Laptop  Hardware   1150 2025-01-20
7      108  Keyboard  Hardware     80 2025-01-20

In [7]:
#4
employees_df.shape

(6, 5)

In [8]:
#5
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderID    8 non-null      int64
 1   Product    8 non-null      object
 2   Category   8 non-null      object
 3   Price      8 non-null      int64
 4   OrderDate  8 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 452.0+ bytes

In [9]:
#6
employees_df.describe()

       EmployeeID         Salary             JoinDate
count    6.000000       6.000000                    6
mean     3.500000   86166.666667  2021-10-10 12:00:00
min      1.000000   70000.000000  2020-01-05 00:00:00
25%      2.250000   74000.000000  2021-07-25 06:00:00
50%      3.500000   82500.000000  2021-11-19 12:00:00
75%      4.750000   88750.000000  2022-04-03 00:00:00
max      6.000000  120000.000000  2023-01-15 00:00:00
std      1.870829   18225.440095                  NaN

In [10]:
#7
sales_df.columns

Index(['OrderID', 'Product', 'Category', 'Price', 'OrderDate'], dtype='object')

In [12]:
#8
employees_df.dtypes

EmployeeID             int64
Name                  object
Department            object
Salary                 int64
JoinDate      datetime64[ns]
dtype: object

-----

## üìà Level 1: The Basics (DataFrame Creation & Inspection)

1.  **Create a DataFrame**: Create a DataFrame from the `employee_data` dictionary provided above.
2.  **Inspect First Rows**: Display the first 3 rows of the `sales_df`.
3.  **Inspect Last Rows**: Display the last 2 rows of the `sales_df`.
4.  **Get Shape**: Find the number of rows and columns in `employees_df`.
5.  **Basic Info**: Get a summary of the `sales_df`, including data types and non-null values for each column.
6.  **Descriptive Statistics**: Calculate the basic descriptive statistics (mean, std, etc.) for the numerical columns in `employees_df`.
7.  **List Columns**: Get a list of all column names from `sales_df`.
8.  **Check Data Types**: What are the data types of each column in `employees_df`?

-----

## üõ†Ô∏è Level 2: Selection & Indexing (`loc`, `iloc`, Boolean)

9.  **Select a Column**: Select and display only the 'Product' column from `sales_df`.
10. **Select Multiple Columns**: Select the 'Product' and 'Price' columns from `sales_df`.
11. **Select by Position (`iloc`)**: Select the first row of `sales_df` using its integer position.
12. **Select a Slice of Rows (`iloc`)**: Select rows from index 2 to 4 from `sales_df`.
13. **Set a New Index**: Set the 'OrderID' column as the index for `sales_df`. Then, select the order with `OrderID` 103 using `loc`. *Remember to reset the index afterward if needed for later questions.*
14. **Boolean Indexing (Single Condition)**: Select all rows from `sales_df` where the 'Price' is greater than $1000.
15. **Boolean Indexing (Multiple Conditions)**: Select all rows from `sales_df` where the 'Product' is 'Laptop' **and** the 'Price' is less than $1200.
16. **Using `isin`**: Select all rows from `sales_df` where the 'Product' is either 'Mouse' or 'Keyboard'.

-----

## üßπ Level 3: Data Cleaning & Manipulation

17. **Find Missing Values**: Check `weather_df` for any missing values.
18. **Fill Missing Numbers**: In `weather_df`, fill the missing 'Temperature' with the mean temperature of the column.
19. **Fill Missing Text**: In `weather_df`, fill the missing 'Event' with the string 'No Event'.
20. **Drop Rows with Nulls**: Drop all rows from `weather_df` that contain any missing values. *(Use a copy of the DataFrame for this so you can use the original for other questions)*.
21. **Rename a Column**: In `employees_df`, rename the 'Name' column to 'EmployeeName'.
22. **Apply a Function**: Create a new column in `employees_df` called 'SalaryUSD' by converting the 'Salary' column from INR to USD. Assume an exchange rate of 1 USD = 83 INR. Use a lambda function with `.apply()`.
23. **Change Data Type**: The 'Price' in `sales_df` is an integer. Change its data type to float.
24. **String Manipulation**: Create a new column 'DepartmentUpper' in `employees_df` that contains the department names in uppercase.
25. **Add a New Column**: Add a column named 'Quantity' to `sales_df` and set all its values to 1.

-----

## üìä Level 4: GroupBy & Aggregation

26. **Simple GroupBy**: Group `sales_df` by 'Product' and find the average price for each product.
27. **Count in Groups**: Group `employees_df` by 'Department' and count the number of employees in each department.
28. **Multiple Aggregations**: Group `sales_df` by 'Product' and find the **total** number of sales (`count`) and the **average** price (`mean`) for each product.
29. **Grouping by Multiple Columns**: Group `sales_df` by 'Category' **and** 'Product' and find the maximum price in each group.
30. **Find the Largest Group**: In `employees_df`, which department has the most employees?

-----

## üîó Level 5: Merging, Joining & Concatenating

For these questions, let's create two new DataFrames.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2']}, index=[0, 1, 2])
df2 = pd.DataFrame({'C': ['C0', 'C1', 'C2'], 'D': ['D0', 'D1', 'D2']}, index=[0, 1, 2])
df3 = pd.DataFrame({'A': ['A3', 'A4', 'A5'], 'B': ['B3', 'B4', 'B5']}, index=[3, 4, 5])

left = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})

31. **Concatenate Rows**: Combine `df1` and `df3` vertically (stack them on top of each other).
32. **Concatenate Columns**: Combine `df1` and `df2` horizontally (side-by-side).
33. **Simple Merge (Inner Join)**: Merge the `left` and `right` DataFrames on the 'key' column.

-----

## üöÄ Level 6: Advanced & LeetCode-Style Problems

These questions mimic the logic you'll find on platforms like LeetCode.

34. **Find the Nth Highest Salary**: From the `employees_df`, find the second highest salary.
      * **Hint**: You might want to sort the values and handle duplicates.
35. **Rank Within Groups**: For the `employees_df`, rank employees by salary within each department. The employee with the highest salary in their department should get rank 1.
      * **Hint**: Use `groupby()` combined with `rank()`.
36. **Duplicate Emails**:
      * Create a DataFrame: `person_data = {'Id': [1, 2, 3], 'Email': ['a@b.com', 'c@d.com', 'a@b.com']}`
      * Find all duplicate emails in this DataFrame.
37. **Consecutive Numbers**:
      * Create a DataFrame: `logs = pd.DataFrame({'Id': [1,2,3,4,5,6,7], 'Num': [1,1,1,2,1,2,2]})`
      * Find all numbers that appear at least three times consecutively.
      * **Hint**: This is a tricky one\! You might need to use `shift()` to compare a row with its neighbors.
38. **Rising Temperature**:
      * Create a DataFrame: `weather = pd.DataFrame({'Id': [1,2,3,4], 'RecordDate': pd.to_datetime(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04']), 'Temperature': [10, 25, 20, 30]})`
      * Find all dates' `Id`s with higher temperatures than their previous dates (yesterday's temperatures).
      * **Hint**: `shift()` and `diff()` can be very helpful here.
39. **Pivot Data**: Using `sales_df`, create a pivot table that shows the total price for each 'Product' on each 'OrderDate'. The dates should be the index, products the columns, and the sum of prices the values.
40. **Department Highest Salary**: From `employees_df`, find the employee who has the highest salary in each department.
      * **Hint**: One way is to use `groupby()` and find the `idxmax()` of the salary, then use `loc` to retrieve the rows. Another way involves a `merge` after finding the max salaries per group.

Good luck with your practice\! Working through these will give you a solid foundation and prepare you for more complex data manipulation tasks. üí™ Happy coding\!